@import '~antd/dist/antd.css';

body{
  background-color: #282c34;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}